<div *ngIf="!isLoggedIn">
    <p>You have to log into facebook so that I can analyze your posts. They will not be saved! </p>
    <button md-button color="primary" (click)="fbLogin()">Click here to login</button>
</div>
<div *ngIf="isLoggedIn && !loading">
    <button  md-raised-button color="primary" (click)="getFeedLikes()">Get your feed likes</button>
    <p *ngIf="totalLikes">Total Likes: {{totalLikes}}</p>
    <div *ngFor="let who of whoLikes; let idx=index;">
        <p>{{idx + 1}}. {{who.name}}:{{who.num}}</p>
    </div>
</div>
<div *ngIf="loading">
    It takes about 10 seconds... fetching that data.... If it takes longer, app is probably broken
</div>
<p *ngIf="error">Error: {{error}}</p>
