<div class="container">
    <div *ngIf="!isLoggedIn">
        <p>You have to log into facebook so that I can analyze your posts. They will not be saved! </p>
        <button md-button color="primary" (click)="fbLogin()">Click here to login</button>
    </div>

    <div *ngIf="isLoggedIn && !loadingClassifications">
        <p>Now that you're logged in, we can begin analyzing. First, select a style of classification.</p>
        <md-radio-group [(ngModel)]="action">
            <md-radio-button value="classify">Overall Sentiment</md-radio-button>
            <md-radio-button value="keyword">Keywords</md-radio-button>
        </md-radio-group>
        <p><span class="accent">Overall Sentiment</span> is going to return how negative or positive your posts are for each post.</p>
        <p><span class="accent">Keywords</span> will return what words make your posts positive or negative.</p>
        <button *ngIf="action" md-raised-button color="primary" (click)="getClassifications()">Analyze the sentiment of your posts!</button>
    </div>
    <md-grid-list cols="3" rowHeight="25px" *ngIf="messages && action === 'classify'">
        <md-grid-tile>Facebook Post</md-grid-tile>
        <md-grid-tile>Positive Sentiment</md-grid-tile>
        <md-grid-tile>Negative Sentiment</md-grid-tile>
        <md-grid-tile colspan="3" *ngFor="let obj of displayClassifications">
            <md-grid-tile>
                {{obj.message}}
            </md-grid-tile>
            <md-grid-tile *ngFor="let res of obj.classification">
                {{res.p}}% {{res.className}}
            </md-grid-tile>
        </md-grid-tile>
    </md-grid-list>
    <table class="table" *ngIf="messages && classifications && action === 'classify'" style="width:100%;">
        <thead>
        <tr>
            <th>Facebook Post</th>
            <th>Positive Sentiment</th>
            <th>Negative Sentiment</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
    <div *ngIf="loading">
        It takes about 10 seconds... fetching that data.... If it takes longer, app is probably broken
    </div>
    <p *ngIf="error">We got an error, Please tell rob this: {{error}}</p>
</div>
<!--
<div *ngIf="isLoggedIn && !loading">
    <button  md-raised-button color="primary" (click)="getFeedLikes()">Get your feed likes</button>
    <p *ngIf="totalLikes">Total Likes: {{totalLikes}}</p>
    <div *ngFor="let who of whoLikes; let idx=index;">
        <p>{{idx + 1}}. {{who.name}}:{{who.num}}</p>
    </div>
</div>-->
