@import '~@angular/material/core/theming/theming';
@import '~@angular/material/core/theming/prebuilt/pink-bluegrey';

.container{
  background-color: white;
  min-height: 100vh;
  border-right: 16px solid md-color($primary);
  border-left: 16px solid md-color($primary);
  padding-left: 20px;
  padding-top: 20px;
}
*{
  color: #212121;
}
md-grid-tile{
  border: 1px solid #BDBDBD;
}
md-grid-list{
  width: 96%;
}
