<p>
    If you want, you can change which classifier you're using. To do this, <a href="https://www.uclassify.com/browse">go to the uClassify Page</a>
    and select your own classifier and the appropriate username for it. For example, if I wanted to use the mood classifier I would put Mood into
    the classifier box and prfekt into the username box.
</p>
<input md-input placeholder="Change the Classifier here:" value="Sentiment" [(ngModel)]="classifier">
<input md-input placeholder="Change the username for the classifier here:" value="uClassify" [(ngModel)]="username">
<button md-raised-button color="primary" *ngIf="classifier && username" (click)="checkClassifier()">Get info about the Classifier</button>
<md-grid-list cols="12" rowHeight="25px" *ngIf="classifierInfo && classifierInfo.length > 0">
    <md-grid-tile colspan="6" rowspan="2">Class Name</md-grid-tile>
    <md-grid-tile colspan="3" rowspan="2">Words Trained</md-grid-tile>
    <md-grid-tile colspan="3" rowspan="2">Unique Words</md-grid-tile>
    <md-grid-tile
            *ngFor="let tile of classifierInfo"
            [style.background]="tile.color"
            [colspan] = "tile.colspan"
            [rowspan] = "tile.rowspan"
            [style.color] = "tile.textColor">
        <p>{{tile.text | largeNumber}}</p>
    </md-grid-tile>
</md-grid-list>
<app-get-messages></app-get-messages>
<app-classifier
        [username]="username"
        [classifier]="classifier"
        [readyToParse]="username && classifier && userData.messages$.getValue().length !== 0">
</app-classifier>
