<div class="error" *ngIf="error.error.getValue() === true">
    <p>
        There's been an error. You'll have to refresh if you want to do anything :(
    </p>
</div>
<md-toolbar>
    <span>
      <md-sidenav #sidenav class="sidenav" [style.display]="sidenavActive">
        <button md-button color="accent" (click)="toggleSidenav()"><i class="material-icons">close</i></button>
        <!--<button md-button routerLink="/fb" routerLinkActive="active">Facebook Analysis</button>-->
        <button md-button routerLink="/mood" routerLinkActive="active">Mood Classification</button>
        <button md-button routerLink="/sentiment" routerLinkActive="active">Sentiment Classification</button>
        <button md-button routerLink="/custom-classification" routerLinkActive="active">Custom Classification</button>
        <button md-button routerLink="/privacy" routerLinkActive="active">Privacy</button>
      </md-sidenav>

      <div class="sidenav-content">
        <button md-raised-button class="menu-button" (click)="toggleSidenav()">
          Menu
        </button>
      </div>
    </span>

    <md-toolbar-row>
        <span>{{title}}</span>
    </md-toolbar-row>

</md-toolbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
