@import '~@angular/material/core/theming/theming';
@import '~@angular/material/core/theming/prebuilt/pink-bluegrey';

md-toolbar{
  background-color: md-color($primary);
  border-color: md-color($accent, A400);
}
md-toolbar-row{
  background-color: md-color($primary,300);
  padding-left: 20px;
  border-bottom: 1px solid md-color($accent);
}
md-toolbar-row:last-child{
}
button{
  font-size: 20px;
}
md-sidenav{
  position: fixed;
  top: 1px;
  left: -5px;
  z-index: 1;
}
.container{
  background-color: white;
  min-height: 100vh;
  border-right: 16px solid md-color($primary);
  border-left: 16px solid md-color($primary);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.menu-button{
  background-color: md-color($primary,300);
}
