
<div id="wbars_all">
    <div class="iub_container iub_base_container">
        <div id="wbars">
            <div class="iub_content simple_pp">
                <div class="iub_header">
                    <h1>Privacy Policy of the <strong>Sentiment Analysis</strong> Facebook app</h1>
                    <p>
                        This Application collects some Personal Data from its Users.
                    </p>
                </div>
                <ul class="for_boxes cf">
                    <li class="one_line_col">
                        <h2>Facebook permissions asked by this Application</h2>
                        <ul class="for_boxes">
                            <li>
                                <div class="iconed">
                                    <h3>Basic information</h3>
                                    <p>Allows the Owner to retrieve some basic information from your Facebook profile.</p>
                                </div>
                            </li>
                            <li>
                                <div class="iconed policyicon_pdt_119">
                                    <h3>User subscriptions</h3>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="for_boxes cf">
                    <li class="one_line_col">
                        <h2>Use of the Data and other Data collected</h2>
                        <ul class="for_boxes">
                            <li>
                                <div class="iconed policyicon_purpose_16">
                                    <h3>Access to third party accounts</h3>
                                    <ul>
                                        <li>
                                            <h3>Facebook account access</h3>
                                            <p>Permissions: User Posts</p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <h2>Contact information</h2>
                <ul class="for_boxes cf">
                    <li class="one_line_col">
                        <ul class="for_boxes">
                            <li>
                                <div class="iconed icon_owner">
                                    <h3>Data owner</h3>
                                    <p>Robert Webb, <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="2742434e485416151367404a464e4b0944484a">[email&#160;protected]</a><script data-cfhash='f9e31' type="text/javascript">/* <![CDATA[ */!function(t,e,r,n,c,a,p){try{t=document.currentScript||function(){for(t=document.getElementsByTagName('script'),e=t.length;e--;)if(t[e].getAttribute('data-cfhash'))return t[e]}();if(t&&(c=t.previousSibling)){p=t.parentNode;if(a=c.getAttribute('data-cfemail')){for(e='',r='0x'+a.substr(0,2)|0,n=2;a.length-n;n+=2)e+='%'+('0'+('0x'+a.substr(n,2)^r).toString(16)).slice(-2);p.replaceChild(document.createTextNode(decodeURIComponent(e)),c)}p.removeChild(t)}}catch(u){}}()/* ]]> */</script></p>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="iub_footer">
                    <p>
                        Latest update: December 22, 2016
                    </p>
                    <p>
                        <a href="//www.iubenda.com" title="iubenda - Privacy Policy generator">iubenda</a> hosts this page and collects
                        <a href="//www.iubenda.com/privacy-policy/877900">some Personal Data</a> about Users
                    </p>
                    <a href="//www.iubenda.com/privacy-policy/7982872/legal" title="Show the complete Privacy Policy" class="show_comp_link iframe-preserve an-preserve">Show the complete Privacy Policy</a>
                </div>

            </div>
        </div>
    </div>
</div>
<
